@using WebApplication.Authorize
@{
    var acc = User as CustomPrincipal;
}
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Quản trị website InSysVina">
    <meta name="keywords" content="Quản trị website InSysVina">
    <meta name="author" content="InSysVina">
    <title>Quản trị website InSysVina</title>
    <link rel="shortcut icon" type="image/x-icon" href="/App_Assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @RenderSection("styles_plugins", false)
    <style>
        a.on_top {
            opacity: 0.6;
            display: none;
        }

            a.on_top:hover {
                background-color: #007bb6;
                color: #fff;
                border: 1px solid #007bb6;
                opacity: 1;
            }

            a.on_top i {
                font-size: 20px;
            }

        a.on_top {
            border-radius: 6px;
            background-color: #333333;
            padding: 10px 20px;
            white-space: nowrap;
            color: #fff;
            position: fixed;
            bottom: 45px;
            right: 30px;
            height: 40px;
        }
    </style>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title">
                        <a href="/Home" class="site_title" style="vertical-align:middle;border-bottom:1px solid #33485f"><i class="fas fa-chart-line"></i> <span>INSYS ViNa</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@acc.AvatarImg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>@acc.FullName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @*@if (UserFull.RoleId != (int)WebApplication.Authorize.enumRole.)
                            {*@
                        @RenderPage("_PMenu.cshtml")

                        @* } *@
                    </div>             
                </div>
            </div>
            <div class="right_col" role="main">
                <!-- top navigation -->

                <div class="top_nav navbar-fixed-top">
                    <div class="nav_menu bg-gradient-x-grey-blue">
                        @RenderPage("_PNavFixTop.cshtml")
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div style="padding-top:46px;">
                    <div class="content-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="navbar-fixed-bottom">
                <span>Copyright  &copy; 2018.</span><span class="float-md-right d-xs-block d-md-inline-block">Design by InSysVina <i class="ft-heart pink"></i></span>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <a class="on_top" href="#top" style="display: block;"><i class="fa-arrow-circle-up fa"></i></a>
    @* Js Default Theme and app *@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>
    <script src="~/Content/js/define/Define_AutoNumeric.js"></script>
    @Scripts.Render("~/Content/js");
    @RenderSection("scripts_plugins", false)
    @RenderSection("scripts", false)

    <script>
        $(document).ready(function () {
            moment.locale("vi");
            app.init();
            //app.component.Loading.Show();
        });
        $(document).ajaxStop(function () {
            app.component.Loading.Hide();
        });
    </script>
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    <script type='text/javascript'>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('#on_top').fadeIn();
                } else {
                    $('#on_top').fadeOut();
                }
            });
            $('#on_top').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>
</body>
</html>