@using LIB
@using LIB.Model
@using WebApplication.Authorize
@model AccountChangePasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    var acc = User as CustomPrincipal;
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#frmSumitChangePass").on("submit", function () {
                var data = $(this).serializeObject();
                _AjaxPost("/Account/UpdatePassword", data, function (rs) {
                    if (rs.success) {
                        notifySuccess("Cập nhật mật khẩu thành công! Vui lòng đăng nhập lại!")
                        setTimeout(function () { window.location.href ="/Account/Logout" }, 1000);
                    }
                    else {
                        notifyError(rs.mess == null ? "Cập nhật mật khẩu không thành công!" : rs.mess);
                    }
                });
                return false;
            });
        });
    </script>
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Đổi mật khẩu</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off", @id = "frmSumitChangePass" }))
                {
                    @Html.TextBoxFor(m => m.UserId, new { @style="display:none"})
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordCurrent, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PasswordCurrent, new { @class = "form-control", @required = "required", @type = "password", @minlength = 6 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordNew, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PasswordNew, new { @class = "form-control", @required = "required", @type = "password", @minlength = 6 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordReNew, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PasswordReNew, new { @class = "form-control", @required = "required", @type = "password", @minlength = 6 })
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="pull-right">
                            <button class="btn btn-success">Cập Nhật Mật Khẩu</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
