@model LIB.Product.ProductEntity
@using WebApplication.Authorize
@{ 
    var acc = User as CustomPrincipal;
    ViewBag.Title = Model.Id == null ? "TẠO SẢN PHẨM" : "CẬP NHẬT SẢN PHẨM";
}
@section styles_plugins{
    <link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
}
@section scripts_plugins{
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/select2.full.min.js"></script>
}
@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/controller/Products_CreateOrEdit.js"></script>
}
<div class="panel panel-info">
    <div class="panel-heading">Thông tin sản phẩm</div>
    @using (Html.BeginForm("InsertProduct", "Product", FormMethod.Post, new { @id = "frmUpdateProduct" }))
    {
        <div class="panel-body">
            @Html.TextBoxFor(m => m.Id, htmlAttributes: new { @style = "display:none" })
           
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProductName)
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @if (Model.Barcode == null)
                        {
                            @Html.LabelFor(m => m.Barcode)
                            @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @required = "required" })
                        }
                        else
                        {
                            @Html.LabelFor(m => m.Barcode)
                            @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @required = "required", @readonly = "readonly"})
                        }
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(t => t.ProductCategory)
                        <select id="SelectCate" class="form-control" multiple required>
                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.CategoryList)
                            {
                                if (item.Selected)
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ComputeUnit)
                        @Html.TextBoxFor(m => m.ComputeUnit, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.InventoryNumber)
                        @Html.TextBoxFor(m => m.InventoryNumber, new { @class = "form-control", @required = "required", @ipPosInt = "" })
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @required = "required", @ipMoney = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SellPrice)
                        @Html.TextBoxFor(m => m.SellPrice, new { @class = "form-control", @required = "required", @ipMoney = "" })
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExpiredDate)
                        <input class="form-control" datepicker required name="ExpiredDate" id="ExpiredDate" value="@(Model.ExpiredDate==null?"":Model.ExpiredDate.Value.ToString("dd/MM/yyyy"))" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a href="/Products"><i class="fas fa-angle-double-left"></i> Quay lại danh sách</a> |
                    @if (Model.Id == null)
                    {
                        <button type="submit" class="btn btn-success">Tạo Mới</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success">Cập Nhật</button>
                    }
                </div>
            </div>
        </div>
    }
</div>



